<%= stylesheet_link_tag "inside/session", :media => "all" %>

<%= form_tag('/login') do %>

  <h1>NARABERO</h1>

  <%= @msg %><br />

  <div class="form-group">
    <label for="name">ユーザー名</label>
    <%= text_field_tag :name, "", :class =>'form-control' %>
  </div>

  <div class="form-group">
    <label for="age">パスワード</label>
    <%= password_field_tag :pass, "", :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag 'ログイン', :class=>'btn btn-primary submit' %>
    <a href="/register"> 新規登録はこちら </a>
  </div>

  

<% end %>



