<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Win:</strong>
  <%= @user.win %>
</p>

<p>
  <strong>Lose:</strong>
  <%= @user.lose %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
